@font-face {
  font-family: 'Barlow';
  src: url('fonts/Barlow-Thin.otf') format('opentype'),
    url('fonts/Barlow-Extra\ Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Barlowb';
  src: url('fonts/Barlow-Extra Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
body {
  font-family: 'Barlow', 'Times New Roman', Times, serif;
  background-repeat: no-repeat;
}
p {
  font-size: 1.4rem;
}
.container {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}
.images {
  position: relative;
  min-width: 600px;
}
.logo {
  height: 30px;
  position: absolute;
  top: 40px;
  left: 50px;
}
.description {
  margin-left: 70px;
  height: fit-content;
  width: fit-content;
  min-width: 800px;
}
button {
  font-family: 'Barlow', 'Times New Roman', Times, serif;
  font-size: 20px;
  width: 370px;
  height: 60px;
  margin-top: 50px;
}
.facebook {
  background-color: #255a9b;
  border: none;
  color: white;
  background-image: url('img/facebook.svg');
  background-size: 30px 40px;
  background-position: left center;
  background-repeat: no-repeat;
}
.Linkedin {
  margin-left: 50px;
  color: white;
  background-color: #0076b6;
  background-image: url('img/linkedin.svg');
  background-size: 30px 40px;
  background-repeat: no-repeat;
  background-position: 10px center;
  border: none;
}
.horizont {
  display: flex;
  align-items: center;
  text-align: center;
  width: 25%;
  margin: 40px 250px;
  margin-left: 300px;
}
.horizont::before,
.horizont::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #afafaf;
  margin: 0px 10px;
}
.horizont {
  white-space: nowrap;
  font-size: large;
  color: #000;
}
.form {
  height: 70px;
  width: 370px;
}
.form.container {
  min-width: 750px;
}
.form.mail {
  box-shadow: none;
  outline: none;
  border: 2px solid #ccc;
}
.form.mail:focus {
  border-left-color: #3698fb;
  border-width: 4px;
  box-shadow: none;
}
.form.phone {
  position: relative;
  top: 0px;
  left: 40px;
  border: 2px solid #ccc;
  box-shadow: none;
  outline: 0;
}
.form.phone:focus {
  border-left-color: #3698fb;
  border-width: 4px;
  box-shadow: none;
}
.email {
  position: relative;
  top: 20px;
  left: 10px;
}
.phone {
  position: relative;
  top: -70px;
  left: 430px;
}
p.Select {
  font-size: 1.3rem;
}
input[type='radio'] + label {
  margin-left: 80px;
}
.radio {
  display: flex;
  justify-content: space-between;
}
input[type='radio'],
label {
  margin: 0;
}
.textinvestor {
  width: fit-content;
  margin-top: 10px;
  border: 2px solid #fff;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

.license {
  margin-top: 20px;
}
.create {
  margin-top: 60px;
  background-color: #3698fb;
  border: 0;
  color: white;
}
label[type='radio'] {
  font-family: 'Barlowb', 'Times New Roman', Times, serif;
  margin-left: 0px;
}
